.generate-recipe {
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  width: 100%;
  overflow-y: auto;

  p {
    font-family: var(--font-quicksand);
    margin: 0px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 170px;
  gap: 68px;
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  p:first-of-type {
    font-size: var(--font-size-54);
    font-weight: 700;
    color: rgba(30, 85, 21, 1);
  }

  p:last-of-type {
    font-size: var(--font-size-24);
    color: rgba(16, 49, 11, 1);
  }
}

.input {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 32px;
}

.bottom {
  display: flex;
  justify-content: end;
}

.display-none {
  display: none;
}

@media (max-width: 1450px) {
  .menu {
    margin: 0 16px;
    gap: 40px;
    align-items: center;
  }

  .head {
    align-items: center;
    p:first-of-type {
      font-size: var(--font-size-32);
      font-weight: 700;
      color: rgba(30, 85, 21, 1);
    }

    p:last-of-type {
      font-size: var(--font-size-18);
      color: rgba(16, 49, 11, 1);
      font-weight: 700;
    }
  }

  .input {
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  .input > * {
  width: 100%;
}

  .bottom{
    justify-content: center;
    margin-bottom: 40px;
  }
}
