section {
  width: 400px;
  height: 445px;
  border: none;
  outline: none;
  font-family: var(--font-quicksand);
  font-size: var(--font-size-28);
  font-weight: 700;
  color: rgba(30, 85, 21, 1);
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transition: transform 200ms ease;
  cursor:
    url('/assets/img/cursor_hand.png') 0 0,
    pointer;

  p {
    margin: 0px;
  }

  img {
    width: 100%;
    height: 400px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
