section{
    min-width: 30px;
    height: 20px;
    background-color: rgba(196, 208, 196, 0.4);
    border-radius: 3px;
    font-family: var(--font-quicksand);
    font-size: var(--font-size-18);
    color: rgba(16, 49, 11, 1);
    box-sizing: border-box;
    padding: 2px 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    p{
        margin: 0px;
    }
}