.cat-recipe {
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  width: 100%;
  p {
    font-family: var(--font-quicksand);
    margin: 0px;
  }
}

.generate {
  margin: 0px 68px;
  display: flex;
  justify-content: end;
}

.all-recipes {
  margin-top: 68px;
}

.list {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 24px;
  gap: 8px;
}

.navigation{
  margin-top: 68px;
  padding-bottom: 68px;
  display:flex;
  align-items: center;
  justify-content: center;
}
