<div class="cat-recipe">
  <div class="wrapper">
    <app-menu-bar-component
      [displayArrow]="true"
      [text]="'Cookbook'"
      [goTo]="'/cookbook'"
    ></app-menu-bar-component>

    <div class="generate">
      <app-primary-button-component [text]="'Generate a recipe'"></app-primary-button-component>
    </div>

    <div class="all-recipes">
      <app-single-cuisine-component [title]="capitalized"></app-single-cuisine-component>

      <div class="list">
        <div class="no-recipes" [class.display-none]="!loading">
          <p>Loading recipes...</p>
        </div>
        @for (item of recipes; track $index) {
          @if ($index < 15) {
            <app-single-recipe-cookbook-component
              [number]="$index + 1"
              [title]="recipes[$index].name"
              [timeInMin]="recipes[$index].time"
              [time]="recipes[$index].cookingTime"
              [cuisine]="recipes[$index].cuisine"
              [diet]="recipes[$index].dietpreferences"
              [likes]="recipes[$index].likes"
              (click)="openRecipe(recipes[$index].id)"
            ></app-single-recipe-cookbook-component>
          }
        }
        @if (noRecipes) {
          <div class="no-recipes">
            <app-secondary-button-component
              [text]="'Start generating recipes'"
              routerLink="/generate-recipe"
            ></app-secondary-button-component>
          </div>
        }
      </div>

      <div class="navigation">
        @for (item of getArray(recipes.length / 15); track $index) {
          <p>
            {{ $index + 1 }}
          </p>
        }
      </div>
    </div>
  </div>
</div>
