.cat-recipe {
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  width: 100%;
  p {
    font-family: var(--font-quicksand);
    margin: 0px;
  }
}

.generate {
  margin: 0px 68px;
  display: flex;
  justify-content: end;
}

.all-recipes {
  margin-top: 68px;
}

.list {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 24px;
  gap: 8px;
}

.navigation {
  margin-top: 68px;
  padding-bottom: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;

  p {
    min-width: 15px;
    font-size: var(--font-size-20);
    padding: 4px;
    transition: background-color 0.15s ease-in;
    border-radius: 4px;
    cursor:
      url('/assets/img/cursor_hand.png') 0 0,
      pointer;

    &:hover {
      background-color: rgba(250, 240, 230, 0.7);
    }
  }
}

.no-recipes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.display-none {
  display: none;
}

@media (max-width: 1450px) {

}
