section {
  min-height: 176px;
  max-height: 420px;
  width: 577px;
  overflow-y: auto;
  background-color: rgba(57, 96, 57, 0.3);
  border-radius: 20px;
  padding: 25px 33px;
  box-sizing: border-box;
  font-family: var(--font-quicksand);
  font-size: var(--font-size-16);
  color: rgba(16, 49, 11, 1);
  font-weight: 700;

  p {
    margin: 0px;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #396039;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #2d4d2d;
  }
}

.ingredients {
  display: flex;
  align-items: start;
}

ul {
  font-size: var(--font-size-18);
  font-weight: 100;
  padding-left: 0px;
}

li {
  display: flex;
  align-items: center;
  transition: background-color 0.15s ease-in;
  border-radius: 8px;

  div:first-of-type {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 170px;
  }

  .display-none {
    display: none !important;
  }

  div {
    display: grid;
    grid-template-columns: 80px 1fr;
    box-sizing: border-box;
    padding: 5px;
    height: auto;
  }
  &:hover {
    background-color: rgba(250, 240, 230, 1);
  }

  &.editing {
    &:hover {
      background-color: transparent;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #10310b;
  border-radius: 10px;
}

@media (max-width: 1450px) {
  section {
    max-width: 100%;

    height: auto;
    font-size: var(--font-size-18);
    padding: 18px;
    overflow: hidden;
  }
}

@media (max-width: 450px) {
  section {
    padding: 12px;
  }
  .text {
    display: flex;
    gap: 8px;

    span:last-child {
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }

  li {
    div:first-of-type {
      align-items: center;
      flex-wrap: wrap;
      align-items: center;
      width: 90px;
    }
  }
}
