section {
  min-height: 176px;
  width: 577px;
  background-color: rgba(57, 96, 57, 0.3);
  border-radius: 20px;
  padding: 25px 33px;
  box-sizing: border-box;
  font-family: var(--font-quicksand);
  font-size: var(--font-size-16);
  color: rgba(16, 49, 11, 1);
  font-weight: 700;

  p{
    margin: 0px;
  }
}

.container{

}
