section {
  min-height: 176px;
  max-height: 209px;
  width: 577px;
  background-color: rgba(57, 96, 57, 0.3);
  border-radius: 20px;
  padding: 25px 33px;
  box-sizing: border-box;
  font-family: var(--font-quicksand);
  font-size: var(--font-size-16);
  color: rgba(16, 49, 11, 1);
  font-weight: 700;
}

.container {
  display: flex;
  align-items: start;
  height: 100%;
  width: 100%;
  gap: 25px;
}

// left
.left {
  width: 300px;
}

.results {
  margin-left: 24px;
  margin-top: 4px;
  p {
    margin: 4px;
  }
}

//right
.right {
  flex: 1;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
