section {
  width: 80px;
  height: 36px;
  border-radius: 18px;
  background-color: rgba(250, 240, 230, 1);
  font-family: var(--font-quicksand);
  font-weight: 500;
  color: rgba(16, 49, 11, 1);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  p {
    margin: 0px;
  }

  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.header {
  width: 100%;
  height: 100%;
  padding: 6.5px 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.dropDown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1px;
  background-color: rgba(250, 240, 230, 1);
  padding: 4px 3px 6.5px 13px;
  box-sizing: border-box;

  border-radius: 0 0 18px 18px;

  p {
    margin: 0px;
    &:hover {
      font-weight: 700;
      text-align: start;
    }
  }
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 1450px) {
  section {
    font-size: var(--font-size-18);
  }
}
