html,
body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

::selection {
  background: rgba(57, 96, 57, 0.1);
}

@font-face {
  font-family: Quicksand;
  //src: url(angular-projects/codeACuisine/assets/fonts/Quicksand.ttf);
  src: url(/assets/fonts/Quicksand.ttf);
}

:root {
  --font-quicksand: 'Quicksand';

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;

  --font-weight-500: 700;
}
