html,
body {
  margin: 0;
  padding: 0;
}

body {
  cursor:
    url('/assets/img/cursor.png') 0 0,
    auto;
}
button {
  cursor:
    url('/assets/img/cursor_hand.png') 0 0,
    pointer;
}


button,
div,
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.wrapper {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

::selection {
  background: rgba(57, 96, 57, 0.1);
}

@font-face {
  font-family: Quicksand;
  //src: url(angular-projects/codeACuisine/assets/fonts/Quicksand.ttf);
  src: url(/assets/fonts/Quicksand.ttf);
}

:root {
  --font-quicksand: 'Quicksand';

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-48: 48px;
  --font-size-54: 54px;
  --font-size-104: 104px;

  --font-weight-500: 700;
}
